{% extends "global_template.html" %}

{% block head %}
    {{ super() }}
    <script>
    $(document).ready(function() {
        registerAjax('.hardware-transitions button', '/server/state/queue', function (result) {}, ['target', 'identifier', 'transition']);
    });
    </script>
{% endblock %}

{% block content %}
    <h1>Debugging Controls</h1>
    <p>This page is for provided for debugging and/or fault finding. It should not be used during normal operation.</p>

    <h2 class="uk-heading-line">Hardware</h2>
    <table class="uk-table uk-table-divider">
        <thead>
            <tr>
                <th>Identifier</th>
                <th>State</th>
                <th>Controls</th>
            </tr>
        </thead>
        <tbody>
            {% for hardware_metadata in hardware %}
                <tr>
                    <td>{{ hardware_metadata.identifier }}</td>
                    <td class="uk-text-capitalize">{{ hardware_metadata.state }}</td>
                    <td class="hardware-transitions">
                        {% for transition in hardware_transitions %}<button class="uk-button uk-button-default uk-button-small" target="hardware" identifier="{{ hardware_metadata.identifier }}" transition="{{ transition }}" style="margin-right: 5px;">{{ transition }}</button>{% endfor %}
                        <br />
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
