<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{{ metadata.server_name }}</title>
        {% block styles %}
            <link rel="stylesheet" href="{{ url_for('static', filename='uikit/css/uikit.css') }}" />
            <link rel="stylesheet" href="{{ url_for('static', filename='experimentserver.css') }}" />
            <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {% endblock %}
        {% block scripts %}
            <script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
            <script src="{{ url_for('static', filename='timeago.min.js') }}"></script>
            <script src="{{ url_for('static', filename='uikit/js/uikit.js') }}"></script>
            <script src="{{ url_for('static', filename='uikit/js/uikit-icons.js') }}"></script>
            <script src="{{ url_for('static', filename='experimentserver.js') }}"></script>
        {% endblock %}
    {% endblock %}
</head>

<body>
    <!-- Dialogs and popups -->
    {% include 'global_dialog.html' %}

    {% block dialog %}{% endblock %}

    <!-- Navigation -->
    {% include 'global_navbar.html' %}

    <!-- Controls -->
    {% include 'global_control.html' %}

    <div id="content">
        <div id="body">
            {% block content %}{% endblock %}
        </div>
    </div>

    <!-- Status bar -->
    <footer>
        <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-left uk-text-small uk-text-muted" id="status">Loading...</div>
            <div class="uk-navbar-right uk-text-small uk-text-muted">{{ metadata.app_name }} {{ metadata.app_version }} launched {{ metadata.launch_time }}</div>
        </nav>
    </footer>
</body>
</html>
