{% extends "global_template.html" %}

{% block head %}
    {{ super() }}
    <script>
        function load_procedure() {
            let parent = $(this);

            let payload = new FormData();

            payload.append('file', $('#procedure-import-file')[0].files[0]);

            $.ajax({
                url: '/procedure/import',
                data: payload,
                type: 'POST',
                contentType: false,
                processData: false,
                success: function (result) {
                    parent.prop('disabled', false);

                    if (result.success) {
                        if ('message' in result) {
                            // Display message to user
                            notifySuccess('Upload Accepted', result.message);
                        }

                        // Reload page
                        location.reload();
                    } else {
                        notifyWarning('Upload Error', result.message);
                    }
                },
                error: function () {
                    parent.prop('disabled', false);

                    notifyError('Server Error', 'Error occurred while connecting to server.');
                },
                timeout: 5000
            });
        }

        $(document).ready(function() {
            $('#procedure-import-file').on('change', function () {
                let file = this.files[0];

                let extension = file.name.toLowerCase().split('.').pop();

                if (extension !== 'yaml' && extension !== 'yml' && extension !== 'j2') {
                    notifyError('Upload Error', 'File must have .yaml or .yml extension');
                    $(this).val(null);
                } else {
                    load_procedure();
                }
            });

            $('#procedure-import').click(load_procedure);

            registerAjax('#procedure-export', '/procedure/export', function (result) {
                let link = document.createElement('a');

                link.download = result.data.filename;
                link.href = 'data:' + result.data.content_type + ';base64,' + btoa(result.data.content);
                link.click();
            }, undefined, 'Procedure export failed, check application logs.');
        });
    </script>
{% endblock %}

{% block content %}
    <div>
        <h1>Experimental Procedure</h1>

        <h2 class="uk-heading-bullet">Import/Export</h2>
        <p>Upload new procedure or download the currently loaded procedure. Procedures are stored in <a href="https://yaml.org/">YAML files</a> that can be altered in any text editor. Users should familiarise themselves with the file format to facilitate editing and error checking.</p>
        <p>Remember that indenting is important. Files should use spaces, not tabs.</p>
        <div id="control-edit" class="uk-display-inline-block">
            <div uk-form-custom="target: true">
                <input type="file" id="procedure-import-file" accept="application/x-yaml,.yml,.yaml,.j2">
                <input class="uk-input uk-form-width-medium uk-form-small" type="text" placeholder="Select file" disabled>
            </div>
            <button class="uk-button uk-button-default uk-button-small procedure-edit" uk-tooltip="title: Import procedure from a file; pos: bottom" id="procedure-import"><span uk-icon="icon: upload"></span> Import</button>
            <button class="uk-button uk-button-default uk-button-small" uk-tooltip="title: Export procedure to a file; pos: bottom" id="procedure-export"><span uk-icon="icon: download"></span> Export</button>
        </div>

        <h2 class="uk-heading-bullet">Loaded Procedure</h2>
        <p>The currently loaded procedure is shown below.</p>

        {% include 'procedure.html' %}
    </div>
{% endblock %}
