<div class="uk-child-width-1-4@m uk-grid-small uk-grid-match" uk-grid="masonry: pack">
    <div class="uk-width-1-4@m">
        <h3>Metadata</h3>
        <p class="uk-text-small">The following metadata will be appended to any points collected during this procedure.</p>
        {% if procedure.metadata|length > 0 %}
        
        <ul class="uk-list uk-list-striped uk-list-collapse">
        {% for metadata_field, metadata_content in procedure.metadata.items() %}
            <li><b>{{ metadata_field }}:</b> {{ metadata_content }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="uk-width-expand@m">
        <h3>Hardware</h3>
        <p class="uk-text-small">The following devices will be utilised in this procedure.</p>
        {% if procedure.hardware|length > 0 %}
            <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
                {% for hardware_identifier in procedure.hardware %}{% set hardware_inst = hardware[hardware_identifier] %}
                    <div><p><span class="uk-label es-hardware-state" identifier="{{ hardware_identifier }}">Loading</span><br><span class="uk-text-small">{{ hardware_identifier }}</span><br>{{ hardware_inst.description }}</p></div>
                {% endfor %}
            </div>
        {% else %}
            <p class="uk-text-bold">No hardware selected.</p>
        {% endif %}
    </div>
</div>

<h3>Stages</h3>
<table id="procedure" class="uk-table uk-table-striped">
<thead>
    <tr>
        <th class="uk-table-shrink">Stage</th>
        <th class="uk-table-shrink">Type</th>
        <th class="uk-table-shrink">Duration</th>
        <th class="uk-table-shrink">Remaining</th>
        <th>Summary</th>
    </tr>
</thead>
<tbody id="procedure-stage">
    {% if stages|length > 0 %}
        {% for stage in stages %}
            <tr class="es-stage" stage_index="{{ stage.index }}">
                <td class="es-stage-index">
                    <button class="uk-button uk-button-text procedure-goto" uk-tooltip="title: Set as next stage; pos: right" id="procedure-previous" index="{{ stage.index }}" disabled>
                        <span uk-icon="icon: arrow-right"></span> {{ stage.index + 1 }}
                    </button>
                </td>
                <td class="es-stage-class">{{ stage.class }}</td>
                <td class="es-stage-duration">{{ stage.duration }}</td>
                <td class="es-stage-duration-remaining">{{ stage.duration_remaining }}</td>
                <td class="es-stage-summary">{{ render_list(stage.summary)|safe }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>Empty procedure.</td>
        </tr>
    {% endif %}
</tbody>
</table>
