{% extends "global_template.html" %}

{% block head %}
    {{ super() }}
    <script>
    $(document).ready(function() {
        $(".transitions button").click(function () {
            let hardware_identifier = $(this).attr('identifier');
            let hardware_transition = $(this).attr('transition');

            $.ajax({
                type: "GET",
                url: "/cmd/state",
                data: {identifier: hardware_identifier, transition: hardware_transition},
                success: function (result) {
                    if (result.success) {
                        UIkit.notification({message: 'Response: ' + result.message})
                    } else {
                        UIkit.notification({message: 'Response: ' + result.message, status: 'danger'})
                    }
                },
                failure: function (result) {
                    UIkit.notification({message: 'AJAX Error, response: ' + result})
                }
            });
        });
    });
    </script>
{% endblock %}

{% block content %}
<h1>Hardware</h1>
    <table class="uk-table uk-table-divider">
        <thead>
            <tr>
                <th>Identifier</th>
                <th>State</th>
                <th>Controls</th>
            </tr>
        </thead>
        <tbody>
            {% for manager in managers %}
                <tr>
                    <td>{{ manager.identifier }}</td>
                    <td class="uk-text-capitalize">{{ manager.state }}</td>
                    <td class="transitions">
                        {% for transition in transitions %}<button class="uk-button uk-button-default uk-button-small" identifier="{{ manager.identifier }}" transition="{{ transition }}" style="margin-right: 5px;">{{ transition }}</button>{% endfor %}
                        <br />
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
